.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Shared-Style */
.display-flex {
    display: flex;
    justify-content: space-between;
}

.primary-color {
    color: rgba(58, 58, 58, 1);
}

body {
    max-width: 1440px;
    /* height: 3306px; */
}

/* Header-style */
/* Button-Style */
.btn-1 {
    background-color: rgba(224, 44, 109, 1);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 41px;
}

/* Nav-Style */
nav {
    margin-right: 120px;
    margin-left: 120px;

}

nav ul {
    padding-top: 10px;
    list-style: none;
    gap: 30px;

}

nav ul li a {
    text-decoration: none;
}

.nav-icn {
    width: 20px;
    height: 20px;
}

.nav-heading {
    font-weight: bold;
    font-size: 24px;
}

/* Banner-Style */
.banner {
    margin-right: 142px;
    margin-left: 123px;
    padding-top: 40px;
}

.banner img {
    width: 350px;
}

.banner-content {
    padding-top: 50px;
}

.banner-image {
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 20px;
    /* background-position: right bottom, left top; */

}

.banner-heading {
    font-weight: bold;
    font-size: 40px;

}

.logo-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    max-width: 1120px;
}

/* .head-icon{
    width: 1040px;
    height: 80px;
    margin: 0 auto;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    
} */
/* .icon ul{
    list-style: none;
    align-items: center; 
    padding-top: 15px; 
    padding-left: 3px;
} */
.head-icon ul {
    list-style: none;
    align-items: center;
    padding-top: 15px;
    padding-left: 3px;
}

/* .icon{
    align-items: center;
} */
.section-container {
    margin-top: 30px;
}

/* Responsive-Media-Query */
@media screen and (max-width:576px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .nav-heading {
        text-align: center;
    }

    /* nav ul{
        text-align: center;
        align-items: center;
    } */
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-heading {
        text-align: center;
    }

    .banner-description {
        text-align: center;
    }

    .btn {
        text-align: center;
    }

    .banner {
        display: grid;
        grid-template-columns: 1fr;
    }

    .banner-image {
        grid-row: 1;
    }

    .banner-content {
        grid-row: 2;
    }

    .banner-image {
        max-width: 100%;
    }

    .logos {
        width: 50px;
        height: 18px;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        padding-top: 50px;
        padding-left: 10%;
        padding-right: 7%;
    }
}